CompileFlags:
  Add: [
    -Iinclude,
    -DSYNC_WORLD_TO_DISK,
    -DSEND_BRAND,
    -DBROADCAST_ALL_MOVEMENT,
    -DSCALE_MOVEMENT_UPDATES_TO_PLAYER_COUNT,
    -DDO_FLUID_FLOW,
    -DALLOW_CHESTS,
    -DENABLE_PICKUP_ANIMATION,
    -DENABLE_CACTUS_DAMAGE
    ]
